$primary: #2d314f !default;
$secondary: #c98e2d !default;
$tritary: #53545b !default;
$white: #ffffff !default;
$yellow: #ffb606 !default;
$blue: #5cc6d0 !default;
$muted: #ababab !default;
$light: #707070 !default;
$lightest: #f8f8f9 !default;
$base-font: "Poppins", sans-serif;
$html-font-size: 16px;
$accordion-border-radius: 0;
$accordion-button-padding-y: 15px;
$accordion-button-padding-x: 30px;
$accordion-icon-width: 1.5rem;
$accordion-button-active-bg: $primary;
$accordion-button-active-color: $white;

