@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../components/request-form";
@import "../components/quick-links-section";
@import "../components/programe-items";
.about-section {
  text-align: center;
  .title-xl {
    max-width: 620px;
    margin: auto;
    margin-bottom: 2.5rem;
  }
}
.benefit-section {
  .title-xl {
    font-weight: bold;
  }
 
  ul {
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.article-section {
  background: $lightest;
}




